@use "../base/variables" as *;
// 清除浮動
@mixin clearfix() {
	&:after,
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// 溢出文字變"..."
@mixin text-truncate() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// 轉場效果
@mixin trans($key) {
	transition: $key 0.3s ease-in-out;
}

// 版型內容區域的最大預設寬度
@mixin layout-max-width() {
	max-width: 1320px;
	margin: 0 auto;
}

// 餘額顯示
@mixin meminfo(
	$mem-color: #000,
	// 1 文字顏色
	$mem-bg: #fafafa,
	// 2 背景顏色
	$mem-tool-bg: #f4f4f4,
	// 3 餘額轉換背景顏色
	$mem-tool-color: #ffffff,
	// 4 餘額轉換按鈕文字顏色
	$mem-tool-btn-bg: #555,
	// 5 餘額轉換按鈕背景顏色
	$mem-line-color: #000 // 6 餘額轉換上線條顏色
) {
	.ele-obalance-item-wrap {
		display: none;
		position: absolute;
		z-index: 1000;
		width: 270px;
		color: $mem-color;
		background: $mem-bg;
		.ele-obalance-item {
			padding: 10px;
			.ele-obalance {
				line-height: 16px;
				padding-bottom: 4px;
			}
		}
		.ele-balance-tool {
			text-align: right;
			padding: 4px;
			background-color: $mem-tool-bg;
			> a {
				border-radius: 3px;
				display: inline-block;
				transition: background-color 0.2s linear;
				padding: 4px 8px;
				color: $mem-tool-color;
				background-color: $mem-tool-btn-bg;
				&:hover {
					background-color: rgba($mem-tool-btn-bg, 0.5);
				}
			}
		}
		&.show {
			display: block;
		}
	}
}
