@use "../base/variables" as *;
@use "../base/mixins" as *;
// 清除浮動
.clearfix {
	@include clearfix;
}

// 全站設定
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-size-adjust: 100%;
	line-height: 1;
	background-color: $body-bg;
}

body {
	position: relative;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	margin: 0;
	min-width: 1520px;
}

a {
	color: $link-color;
	text-decoration: none;
	cursor: pointer;
}

.page-layout {
	min-height: 100vh;
	font-size: 0.75rem;
	// 內頁title
	.card & {
		background: url("@/assets/image/lang/zh-cn/title_card.jpg") no-repeat 50% 110px;
	}
	.memberexclusiveii & {
		background: url("@/assets/image/lang/zh-cn/title_memberexclusiveii.jpg") no-repeat 50% 110px;
	}
	.at1 & {
		background: url("@/assets/image/lang/zh-cn/title_welcome.jpg") no-repeat 50% 110px;
	}
	.ball & {
		background: url("@/assets/image/lang/zh-cn/title_sports.jpg") no-repeat 50% 110px;
	}
	.ltlottery & {
		background: url("@/assets/image/lang/zh-cn/title_lottery.jpg") no-repeat 50% 110px;
	}
	.livetop & {
		background: url("@/assets/image/lang/zh-cn/title_live.jpg") no-repeat 50% 110px;
	}
	.game & {
		background: url("@/assets/image/lang/zh-cn/title_game.jpg") no-repeat 50% 110px;
	}
}

// 內頁
.page-body {
	// 內頁背景
	position: relative;
	width: 1400px;
	margin: 0 auto;
	background: url("@/assets/image/container_bg04_y.png") repeat-y 50% 0;
	box-shadow: 0 0 10px 0 rgba(41, 43, 51, 0.3);
	padding: 10px 0 100px;
	.at1 & {
		width: 1180px;
		padding: 10px 110px 100px;
	}
	&:before {
		position: absolute;
		left: 0;
		top: -10px;
		content: "";
		width: 100%;
		height: 10px;
		background: url("@/assets/image/container_bg04_y.png") repeat-y 50% 0;
	}

	// 內頁content img
	.page-img {
		width: 392px;
		height: 185px;
		position: absolute;
		left: -130px;
		bottom: 0;
		background-image: url("@/assets/image/container_bg01.png");
	}

	// 首頁
	.first & {
		width: 100%;
		box-shadow: none;
		background: url("@/assets/image/first_tab_bg01.jpg") no-repeat 50% 100% #e4e6f2;
		padding: 10px 0 0 0;
		&:before {
			display: none;
		}
	}
}
